.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/.copilot-plugin
.intellijPlatform/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Qodana ###
.qodana/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Plugin Signing ###
private.pem
chain.crt
*.csr